- content_for :title do
  = "#{@user.name || @user.email}'s Posts - ImageGallery"

%main.main
  / Page Title
  .page-title{"data-aos" => "fade"}
    .heading
      .container
        .row.d-flex.justify-content-center.text-center
          .col-lg-8
            %h1 
              = "#{@user.name || @user.email}'s Posts"
            %p.mb-0 
              = "Explore posts by #{@user.name || @user.email}"
    %nav.breadcrumbs
      .container
        %ol
          %li
            = link_to "Home", root_path
          %li
            = link_to "Users", users_path
          %li
            = link_to @user.name || @user.email, user_path(@user)
          %li.current Posts

  / Gallery Section
  %section#gallery.gallery.section
    .container-fluid{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      .row.gy-4.justify-content-center
        - if @posts&.any?
          - @posts.each_with_index do |post, index|
            .col-xl-3.col-lg-4.col-md-6
              .gallery-item.h-100
                .position-relative
                  %img.img-fluid{alt: post.title, src: post.image.url}
                  .gallery-links.d-flex.align-items-center.justify-content-center
                    %a.glightbox.preview-link{href: post.image.url, title: post.title}
                      %i.bi.bi-arrows-angle-expand
                    = link_to post_path(post), class: "details-link" do
                      %i.bi.bi-link-45deg
                .gallery-info.p-2
                  %h6.mb-1= post.title
                  = render 'shared/post_categories', post: post
        - else
          .col-12.text-center
            %p.text-muted
              = "#{@user.name || @user.email} hasn't posted any images yet."
