.container#main-container
  .col-sm-12.d-flex.justify-content-center.align-items-center.min-vw-50
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :id => 'content-container'}) do |f|
      = render "devise/shared/error_messages", resource: resource
      %h2
        Edit #{resource_name.to_s.humanize}
      .field.form-group.row
        - if current_user.avatar.url
          = image_tag current_user.avatar.url, style: "width: 200px"
        .col-sm-5
          = f.file_field :avatar, class: '   mm ', direct_upload: true
      .field.form-group.row
        = f.label :name
        %br/
        .col-sm-5
          = f.text_field :name, autofocus: true, autocomplete: "name"
      .field.form-group.row
        = f.label :surname
        %br/
        .col-sm-5
          = f.text_field :surname, autofocus: true, autocomplete: "surname"
      .field.form-group.row
        = f.label :email
        %br/
        .col-sm-5
          = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field.form-group.row
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        .col-sm-5
          = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field.form-group.row
        = f.label :password_confirmation
        %br/
        .col-sm-5
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .field.form-group.row
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        .col-sm-5
          = f.password_field :current_password, autocomplete: "current-password"
      .actions
        = f.submit "Update"
      %div
        #{button_to "delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back
