= turbo_stream.replace "post#{@post.id}actions" do
  = render "posts/post_actions", post: @post

= turbo_stream.replace "post#{@post.id}comments" do
  = render "posts/post_comments", post: @post

= turbo_stream.replace "post#{@post.id}comment_form" do
  = render "posts/comment_form", post: @post

= turbo_stream.replace "post#{@post.id}_modal_body" do
  .d-flex.flex-column.gap-3
    - Comment.where(post: @post).order(:created_at).each do |comment|
      = render "posts/model_comment", comment: comment