= turbo_stream.append "post#{@post.id}comments" do
  = render "comments/comment", comment: @comment

= turbo_stream.replace "post#{@post.id}comment_form" do
  = render "posts/comment_form", post: @post