<div class="container">
  <div class="row mb-4">
    <div class="col-md-4">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize_to_limit: [300, 300]), class: 'img-fluid rounded' %>
      <% else %>
        <%= image_tag 'default-avatar.png', class: 'img-fluid rounded' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h1><%= @user.name %> <%= @user.surname %></h1>
      <p class="text-muted">@<%= @user.username %></p>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <h2>Публикации</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3 justify-content-center m-1">
        <%= render 'posts/post', post: post %>
      </div>
    <% end %>
  </div>
</div>