%header#header.header.d-flex.align-items-center.sticky-top
  .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
    = link_to root_path, class: "logo d-flex align-items-center me-auto me-xl-0" do
      %i.bi.bi-camera
      %h1.sitename ImageGallery
    %nav#navmenu.navmenu
      %ul
        %li
          = link_to t('navigation.home'), home_starter_page_path
        %li
          = link_to t('navigation.profile'), profile_path
        %li
          = link_to t('navigation.about'), home_about_path
        %li.dropdown
          = link_to home_gallery_path, class: (controller_name == 'home' && action_name == 'gallery') ? "active" : "" do
            %span= t('navigation.categories')
            %i.bi.bi-chevron-down.toggle-dropdown
          %ul
            - if user_signed_in?
              %li
                = link_to t('categories.create_new'), new_category_path
              %li
                %hr.dropdown-divider
            %li
              = link_to t('categories.view_all'), categories_path
            - if @navbar_categories&.any?
              %li
                %hr.dropdown-divider
              - @navbar_categories.each do |category|
                %li
                  = link_to category.name, home_gallery_category_path(category)
            - else
              %li
                %hr.dropdown-divider
              %li
                = link_to t('categories.no_categories'), home_gallery_path
        %li
          = link_to t('navigation.services'), home_services_path
        %li
          = link_to t('navigation.contact'), home_contact_path
      %i.mobile-nav-toggle.d-xl-none.bi.bi-list
    .header-social-links.d-flex.align-items-center
      / Language switcher
      .dropdown.d-inline-block.me-3
        %button.btn.btn-sm.btn-outline-light.dropdown-toggle{type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
          %i.bi.bi-globe
          = I18n.locale.upcase
        %ul.dropdown-menu.dropdown-menu-dark
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :en}", onclick: "return switchLanguage('en', event);"}
              English
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :ru}", onclick: "return switchLanguage('ru', event);"}
              Русский
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :uk}", onclick: "return switchLanguage('uk', event);"}
              Українська

      / User authentication section
      - if user_signed_in?
        .dropdown.d-inline-block.me-3
          %button.btn.btn-sm.btn-outline-light.dropdown-toggle.d-flex.align-items-center{type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
            - if current_user.avatar.attached?
              = image_tag current_user.avatar, class: "rounded-circle me-2", style: "width: 20px; height: 20px; object-fit: cover;"
            - else
              %i.bi.bi-person-circle.me-2
            %span= current_user.name || current_user.email.split('@').first
          %ul.dropdown-menu.dropdown-menu-dark
            %li
              = link_to profile_path, class: "dropdown-item text-light" do
                %i.bi.bi-person.me-2
                = t('navigation.profile')
            %li
              = link_to my_posts_path, class: "dropdown-item text-light" do
                %i.bi.bi-images.me-2
                = t('navigation.my_posts')
            %li
              = link_to edit_user_registration_path, class: "dropdown-item text-light" do
                %i.bi.bi-gear.me-2
                = t('user.edit_profile')
            %li
              %hr.dropdown-divider
            %li
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item text-light" do
                %i.bi.bi-box-arrow-right.me-2
                = t('user.sign_out')
      - else
        = link_to new_user_session_path, class: "btn btn-sm btn-outline-light me-2" do
          %i.bi.bi-box-arrow-in-right.me-1
          = t('user.sign_in')
        = link_to new_user_registration_path, class: "btn btn-sm btn-light" do
          %i.bi.bi-person-plus.me-1
          = t('user.sign_up')

      / Social links
      .d-none.d-lg-flex.ms-3
        %a.twitter.me-2{href: "#"}
          %i.bi.bi-twitter-x
        %a.facebook.me-2{href: "#"}
          %i.bi.bi-facebook
        %a.instagram.me-2{href: "#"}
          %i.bi.bi-instagram
        %a.linkedin{href: "#"}
          %i.bi.bi-linkedin
