%header#header.header.d-flex.align-items-center.sticky-top
  .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
    = link_to root_path, class: "logo d-flex align-items-center me-auto me-xl-0" do
      %i.bi.bi-camera
      %h1.sitename ImageGallery
    %nav#navmenu.navmenu
      %ul
        %li
          = link_to t('navigation.home'), home_starter_page_path
        %li
          = link_to t('navigation.profile'), profile_path
        %li
          = link_to t('navigation.about'), home_about_path
        %li.dropdown
          = link_to home_gallery_path, class: "active" do
            %span= t('navigation.categories')
            %i.bi.bi-chevron-down.toggle-dropdown
          %ul
            %li
              = link_to "Nature", home_gallery_path, class: "active"
            %li
              = link_to "People", home_gallery_path, class: "active"
            %li
              = link_to "Architecture", home_gallery_path, class: "active"
            %li
              = link_to "Animals", home_gallery_path, class: "active"
            %li
              = link_to "Sports", home_gallery_path, class: "active"
            %li
              = link_to "Travel", home_gallery_path, class: "active"
            %li.dropdown
              %a{href: "#"}
                %span Deep Dropdown
                %i.bi.bi-chevron-down.toggle-dropdown
              %ul
                %li
                  %a{href: "#"} Deep Dropdown 1
                %li
                  %a{href: "#"} Deep Dropdown 2
                %li
                  %a{href: "#"} Deep Dropdown 3
                %li
                  %a{href: "#"} Deep Dropdown 4
                %li
                  %a{href: "#"} Deep Dropdown 5
        %li
          = link_to t('navigation.services'), home_services_path
        %li
          = link_to t('navigation.contact'), home_contact_path
      %i.mobile-nav-toggle.d-xl-none.bi.bi-list
    .header-social-links
      / Language switcher
      .dropdown.d-inline-block.me-3
        %button.btn.btn-sm.btn-outline-light.dropdown-toggle{type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
          %i.bi.bi-globe
          = I18n.locale.upcase
        %ul.dropdown-menu.dropdown-menu-dark
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :en}", onclick: "return switchLanguage('en', event);"}
              English
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :ru}", onclick: "return switchLanguage('ru', event);"}
              Русский
          %li
            %a.dropdown-item.text-light{href: "javascript:void(0)", class: "#{'active' if I18n.locale == :uk}", onclick: "return switchLanguage('uk', event);"}
              Українська

      %a.twitter{href: "#"}
        %i.bi.bi-twitter-x
      %a.facebook{href: "#"}
        %i.bi.bi-facebook
      %a.instagram{href: "#"}
        %i.bi.bi-instagram
      %a.linkedin{href: "#"}
        %i.bi.bi-linkedin
