- content_for :title do
  Gallery - ImageGallery

%main.main
  / Page Title
  .page-title{"data-aos" => "fade"}
    .heading
      .container
        .row.d-flex.justify-content-center.text-center
          .col-lg-8
            %h1
              - if @selected_category
                = @selected_category.name.capitalize + " Gallery"
              - else
                Gallery
            %p.mb-3
              - if @selected_category
                = "Explore beautiful #{@selected_category.name.downcase} images from our community."
              - else
                Explore our collection of beautiful images from talented photographers.
            - if user_signed_in?
              = link_to new_post_path, class: "btn btn-primary btn-lg" do
                %i.bi.bi-plus-circle.me-2
                = t('posts.create_new')
            %a.cta-btn{href: "contact.html"}
              Available for Hire
              %br/
    %nav.breadcrumbs
      .container
        %ol
          %li
            %a{href: "index.html"} Home
          %li.current Gallery
  / Gallery Section
  %section#gallery.gallery.section
    .container-fluid{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      .row.gy-4.justify-content-center
        - if @posts&.any?
          - @posts.each_with_index do |post, index|
            .col-xl-3.col-lg-4.col-md-6
              .gallery-item.h-100
                .position-relative
                  %img.img-fluid{alt: post.title, src: post.image.url}
                  .gallery-links.d-flex.align-items-center.justify-content-center
                    %a.glightbox.preview-link{href: post.image.url, title: post.title}
                      %i.bi.bi-arrows-angle-expand
                    = link_to post_path(post), class: "details-link" do
                      %i.bi.bi-link-45deg
                .gallery-info.p-2.bg-dark.border-top.border-secondary
                  %h6.mb-1.text-light= post.title
                  = render 'shared/post_categories', post: post
        - else
          .col-12.text-center
            %p.text-muted
              - if @selected_category
                = "No images found in #{@selected_category.name.downcase} category."
              - else
                No images found.

