%ul.slider
  %li.item.item1{style: "background-image: url('https://images.unsplash.com/photo-1562624475-96c2bc08fab9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI2OTF8&ixlib=rb-4.0.3&q=85&width=700')"}
    %span Prague
  %li.item.item2{style: "background-image: url('https://images.unsplash.com/photo-1534283844880-d5fd2ddd2cc9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI5OTN8&ixlib=rb-4.0.3&q=85&width=700')"}
    %span London
  %li.item.item3{style: "background-image: url('https://images.unsplash.com/photo-1511745235279-2f7276d5ba65?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODMwNTh8&ixlib=rb-4.0.3&q=85&width=700')"}
    %span New York
  %li.item.item4{style: "background-image: url('https://images.unsplash.com/photo-1560930950-5cc20e80e392?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI1OTd8&ixlib=rb-4.0.3&q=85&width=700')"}
    %span Berlin

-# Grid Gallery Component Demo
.container.my-5
  .row
    .col-12.text-center
      %h2.mb-4= t('gallery.featured_gallery')
  .row.justify-content-center
    .col-12.col-lg-10
      - if @posts.any? && @posts.select { |post| post.image.present? }.count >= 8
        -# Use real posts if we have enough with images
        - gallery_images = @posts.select { |post| post.image.present? }.first(8).map { |post| post.image.url }
        = render 'shared/hexagon_gallery', images: gallery_images, size: '100px', css_class: 'size-medium'
      - else
        -# Fallback to demo images
        - demo_images = ['https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1518756131217-31eb79b20e8f?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1472214103451-9374bd1c798e?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1469474968028-56623f02e42e?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=400&h=400&fit=crop', 'https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=400&h=400&fit=crop']
        = render 'shared/hexagon_gallery', images: demo_images, size: '100px', css_class: 'size-medium'

.container
  .row.g-3
    -# - if user_signed_in?
      -# = render "modals/image_comments"
    .col-12.d-flex.justify-content-center{ :style => "font-size: 1rem;" }
      - if @posts.respond_to?(:total_pages)
        = paginate @posts
    - @posts.each do |post|
      .col-12.col-sm-6.col-md-4.col-lg-3
        = render 'posts/post', post: post

-# Glowing border sections
.container-fluid.my-5
  .glowing-border
    %h1 Ask anything
    %p Trying to wrap your head around a new topic? Looking for specific recommendations? Need help deciding between two products? Just ask. We'll probably get it wrong, but we'll sure sound like we know what we're talking about!

  .glowing-border.right
    %h1 Ask anything
    %p Trying to wrap your head around a new topic? Looking for specific recommendations? Need help deciding between two products? Just ask. We'll probably get it wrong, but we'll sure sound like we know what we're talking about!

