%h1 Main Page
%p Welcome to the main page of the Image Gallery application.

.container
  .row
    .col-md-12
      %h2 Featured Images
      %p Explore our collection of beautiful images.
      
      - if @posts.present?
        .div.d-flex.justify-content-center{ :style => "font-size: 1rem;" }
          - if @posts.respond_to?(:total_pages)
            = paginate @posts
        .row
          - @posts.each do |post|
            .col-md-4.mb-4
              .card
                - if post.image.attached?
                  = image_tag post.image, class: 'card-img-top'
                .card-body
                  %h5.card-title= post.title
                  %p.card-text= post.text
                  = link_to 'View Post', post_path(post), class: 'btn btn-sm btn-primary'
      - else
        %p No posts found.