%div{id: "post#{post.id}comment_form"}
  = form_with url: post_comments_path(post), method: :post, local: false do |f|
    .card-footer.d-flex.justify-content-between.bg-white.mt-3
      - if defined?(error) && error.present?
        .alert.alert-danger= error
      = text_field_tag :text, nil, class: "w-100", placeholder: "Add a comment...", style: "border:none; color: #000 !important; background-color: white !important; outline: none; box-shadow: none;"
      = f.submit "Post", class: "text-primary fw-bold", style: "background:none; border:none"