= turbo_frame_tag "post#{post.id}comment_form" do
  = form_with url: post_comments_path(post), method: :post, data: { turbo_frame: "posts" } do |f|
    .card-footer.d-flex.justify-content-between.bg-white.mt-3
      - if defined?(error) && error.present?
        .alert.alert-danger= error
      = f.text_field :text, class: "w-100", placeholder: "Add a comment...", style: "border:none"
      = f.submit "Post", class: "text-primary fw-bold", style: "background:none; border:none"
