%div{id: "post#{post.id}comments"}
  - if defined?(error) && error.present?
    .alert.alert-danger= error
  - comments_count = Comment.where(post: post).count
  - if comments_count > 0
    %a{"data-controller" => "modal", "data-action" => "click->modal#open", "data-bs-target" => "#post#{post.id}_commentsModal", href: "#", style: "text-decoration: none; color: #6c757d !important;"}
      %small.text-muted{style: "color: #6c757d !important;"}
        View all #{pluralize(comments_count, "comments")}
  -# Показываем последние 5 комментариев
  - recent_comments = Comment.where(post: post).order(:created_at).last(5)
  - recent_comments.each do |comment|
    %p.card-text.m-0{style: "color: #000 !important;"}
      = link_to comment.user, class: "a-decoration-none", data: {turbo: false}, style: "color: #000 !important;" do
        %span.fw-bold{style: "color: #000 !important;"}
          = comment.user.name
          = comment.user.surname
      = comment.text
