%div{id: "post#{post.id}actions"}
  .d-flex.justify-content-start.align-items-center.gap-2.mb-3.flex-wrap
    = form_with url: toggle_like_path, method: :post, local: false, style: "display: inline;", id: "like-form-#{post.id}" do |f|
      = hidden_field_tag :post_id, post.id
      %button{type: "submit", style: "border:none; background:none; padding:0; cursor:pointer; line-height: 1;", id: "post#{post.id}actions-likeBtn"}
        %i{class: "#{post.likes.find_by(user: current_user) ? "bi bi-heart-fill text-danger" : "bi bi-heart text-light"} fs-4", id: "heart-#{post.id}"}
    %span.text-light.me-2
      = pluralize(post.likes.count, "like")
    %a.post-comment-link{"data-bs-target" => "#post#{post.id}_commentsModal", "data-bs-toggle" => "modal", href: "#", style: "text-decoration: none; line-height: 1;"}
      %i.bi.bi-chat.fs-5.text-light
    %span.text-light
      = pluralize(post.comments.count, "comment")
  %a.text-light{"data-bs-target" => "#post#{post.id}_likesModal", "data-bs-toggle" => "modal", href: "#", style: "text-decoration: none"}
  / Modal
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "post#{post.id}_likesModalLabel", id: "post#{post.id}_likesModal", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h1.modal-title.fs-5{id: "post#{post.id}_likesModalLabel"} Post likes
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
        .modal-body
          .d-flex.flex-column.gap-3
            - post.likers.each do |liker|
              = render "posts/liker", liker: liker