- content_for :title do
  Posts - ImageGallery

%main.main
  .container.my-5
    .row
      .col-12
        .d-flex.justify-content-between.align-items-center.mb-4
          %h1.display-4
            - if @selected_user
              = "#{@selected_user.name || @selected_user.email}'s Posts"
            - else
              All Posts
          = link_to 'New Post', new_post_path, class: "btn btn-primary"

        - if @posts&.any?
          .row.gy-4
            - @posts.each do |post|
              .col-xl-3.col-lg-4.col-md-6
                .card.h-100
                  - if post.image.present?
                    = image_tag post.image.url, class: "card-img-top", style: "height: 200px; object-fit: cover;"
                  .card-body
                    %h5.card-title= post.title
                    %p.card-text= truncate(post.text, length: 100)
                    = render 'shared/post_categories', post: post
                    .mt-2
                      %small.text-muted
                        by
                        = link_to post.user.name || post.user.email, user_path(post.user)
                        = time_ago_in_words(post.created_at)
                        ago
                  .card-footer.bg-transparent
                    .d-flex.justify-content-between
                      = link_to 'View', post, class: "btn btn-sm btn-outline-primary"
                      .btn-group{role: "group"}
                        - if current_user == post.user
                          = link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-outline-secondary"
                          = link_to 'Delete', post, method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: "btn btn-sm btn-outline-danger"
        - else
          .text-center.py-5
            %h3.text-muted No posts found
            %p.text-muted
              - if @selected_user
                = "#{@selected_user.name || @selected_user.email} hasn't posted anything yet."
              - else
                Be the first to share something!
            = link_to 'Create Post', new_post_path, class: "btn btn-primary"