%h1 New Image Added
%p
  Hello #{@user.name},
%p
  A new image has been added to the 
  %strong= @category.name
  category that you're subscribed to.
%p
  %strong Image Details:
  %br
  Title: #{@post.title}
  %br
  Added by: #{@post.user.name}
  %br
  Added on: #{@post.created_at.strftime('%B %d, %Y at %H:%M')}
%p
  = link_to "View Image", category_url(@category)
%p
  If you wish to unsubscribe from this category, you can do so by visiting the category page and clicking the "Unsubscribe" button.
%p
  Thank you for using our Image Gallery!
%p
  Best regards,
  %br
  The Image Gallery Team